@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <br/>
    <img src="/img/bacon2.jpg" class="img-fluid" alt="Baconsale Group" >
    <br/><br/>
    <p>Joel Hilton is the brother of renowned BYU Information Systems professor, Spencer Hilton. He is currently working as a Digital Marketing Copywriter at America First Credit Union.
        He is an experienced writer with a passion for all things creative. 
        <br/>
        He flaunts an impressive resume which includes:
    </p>
    <ul>
        <li>Management experience</li>
        <li>Copywriter</li>
        <li>Professional comedian</li>
        <li>Experienced voice actor</li>
        <li>Comedy writer for BYU's Premiere Sketch Comedy Troupe</li>
        <li>English degree with an emphasis in Creative Writing</li>
        <li>Minor in Media Arts with an emphasis in Screenwriting</li>
    </ul>
    <p>You can experience Joel's comedy skits in person at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> where he performs regularly.
        Lastly, Joel is also a contributor on the <a href="https://baconsale.com/">Baconsale</a> podcast, a family-friendly pop culture podcast to humorously discuss movies, music, TV, food, video games & more!
    </p>
    <br/>
    <a href="https://baconsale.com/" target="_blank">
        <img src="/img/bacon.jpg" class="img-fluid" alt="Baconsale Group">
    </a>
</div>