@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br/>
    <p>A curated list of movies and TV shows by Joel Hilton.</p>
    <br/><br/>
    <img src="/img/joel.jpg" class="img-fluid" alt="Joel Hilton" >
    
    <br/>
    <br/>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary btn-lg mt-4">View Movie List</a>

</div>


